@{
    ViewData["Title"] = "За нас";
}

<div class="container my-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
    <hr class="my-4" />

    <p class="lead text-center mb-5">
        Добре дошли в нашето мобилно приложение! Ние сме екип от ентусиасти, които се стремим да осигурим най-добрите обяви за мобилни устройства в интернет.
    </p>

    <div class="bg-light p-4 rounded shadow-sm">
        <h2 class="h4 bg-success text-white p-3 rounded">Нашата мисия</h2>
        <hr class="bg-success border-2 border-top" />
        <p>
            Нашата мисия е да направим процеса на покупка и продажба на мобилни телефони по-лесен и безопасен за всички потребители. Стремим се да предоставим интуитивен и лесен за използване интерфейс, който да улесни търсенето и избора на мобилни устройства.
        </p>
    </div>

    <div class="bg-light p-4 rounded shadow-sm my-4">
        <h2 class="h4 bg-success text-white p-3 rounded">Нашата визия</h2>
        <hr class="bg-success border-2 border-top" />
        <p>
            Вярваме, че всеки трябва да има достъп до най-добрите предложения на пазара, затова работим усърдно за да предложим най-доброто изживяване на нашите потребители.
        </p>
    </div>

    <div class="bg-light p-4 rounded shadow-sm">
        <h2 class="h4 bg-success text-white p-3 rounded">Екипът ни</h2>
        <hr class="bg-success border-2 border-top" />
        <p>
            Нашият екип е съставен от специалисти в различни области, включително технологии, продажби и обслужване на клиенти. Ние се гордеем с това, че предоставяме бързо и надеждно обслужване на всеки потребител.
        </p>
    </div>
</div>
